<!-- views/users/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.userName %>'s Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to <%=user.username %>'s' Pantry</h1>
    <% if (pantry.length > 0) { %>
    <ul>
        <% pantry.forEach((pantry) => { %>
        <li><%= pantry.foodName %></li>
        <% }) %>
    </ul>
    <% } else { %>
        <p> There are no items in this pantry</p> 
    <% } %>
</body>
</html>